
*.cache
*.pdb
*.exe
dev/client/windows/Affix Center/.vs/Affix Center/v16/.suo
dev/client/windows/Affix Center/Affix Center/bin/Debug/Affix Center.exe
dev/client/windows/Affix Center/Affix Center/obj/Debug/Affix Center.csproj.FileListAbsolute.txt
*.ipch
dev/server/windows/as-server/.vs/as-server/v16/.suo
*.db
dev/server/windows/as-server/.vs/as-server/v16/ipch/AutoPCH/9a428433cf6f1668/REQUEST.ipch
dev/server/windows/as-server/.vs/as-server/v16/Browse.VC.db
